* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1000px;
  height: 1000px;
  margin: 0 auto;
  background-color: lightgrey;
}

h2 {
  display: block;
  margin: auto;
  padding-top: 30px;
  margin-bottom: 45px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.wrapper1 {
  width: 800px;
  height: 100%;
  margin: 0 auto;
}

.question {
  font-family: Arial, sans-serif;
  margin: 0 0 10px 20px;
}

.answer {
  width: 150px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  /*margin-right: 600px;*/
}

.input-class  {
  margin: 0 10px 0 30px;
}

.input-third {
  margin-bottom: 20px;
}

.button {
  width: 250px;
  height: 45px;
  display: block;
  margin: 50px auto;
  background-color: #b3e8f4;
  border: 2px solid black;
}
