* {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  width: 1500px;
}

h1 {
  text-align: center;
}

.select {
  margin-top: 50px;
}

.form {
  position: relative;
  font-size: 22px;
  color: black;
  font-family: Arial, sans-serif;

}

.pure_css {
  float: left;
  width: 50%;
}

input[type=checkbox] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label {
  cursor: pointer;
}

label::before {
  content: " ";
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url(http://xiper.net/examples/html-and-css-tricks/forms/img/checkbox-2.png);
  position: relative;
  top: 3px;
  margin: 0 10px 0 15px;
}

#all {
  background-image: none;
}

input[type=checkbox]:checked + label::before {
  background-position: 0 -17px;

}

label:hover:after {
  background-position: 0 -34px;
}
input[type=checkbox]:checked + label:hover::before {
  background-position: 0 -51px;
}


/*jquery*/

.jquery {
  float: left;
  width: 50%;
}

.niceCheck {
  width: 17px;
  height: 17px;
  display: inline-block;
  cursor: pointer;
  background: url(../img/checkbox-sprite.png);
}

.niceCheck input {
  display: none;
}

.jquery-input {
  margin-right: 10px;
}

/*select*/

.select {
  clear: both;
}
