* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  width: 1000px;
  height: 900px;
  margin: 0 auto;
  /*background-color: rgba(66, 134, 244, .3);*/
  /*background-color: rgba(0, 0, 0, .3);*/
  background-color: rgba(157, 160, 165, .5);
}

h2 {
  display: block;
  margin: auto;
  padding-top: 30px;
  margin-bottom: 45px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.wrapper1 {
  width: 800px;
  height: 100%;
  margin: 0 auto;
}

.question {
  font-family: Arial, sans-serif;
  margin: 20px 0 10px 20px;
}

.answer {
  max-height: 20px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin-right: 666px;
}

.input-class  {
  margin: 0 10px 0 30px;
}

.button {
  width: 250px;
  height: 45px;
  display: block;
  margin: 50px auto;
  background-color: #4286f4;
  border: 2px solid black;
  cursor: pointer;
  font-size: 20px;
  border-radius: 20px;
  color: white;
}

label {
  display: block;
}

.results {
  position: absolute;
  width: 300px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -150px;
  text-align: center;
  background-color: lightgrey;
}

.fancybox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.correctVar {
  height: 20px;
}

.brand {
  font-weight: bold;
  color: blue;
  font-size: 22px;

}
