<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="js/quiz.js" defer></script> -->
    <!-- <script type="text/javascript" src="js/answers.js" defer></script> -->
    <script type="text/javascript" src="js/template.js" defer></script>
    <script type="text/javascript" src="js/my_tmpl.js"></script>
    <!-- <script type="text/javascript" src="js/jquery.fancybox-plugin.js" defer></script> -->
    <title>JS 13-14</title>
  </head>
  <body>
    <script type="text/template" id="quiz">
      <div class="wrapper">
       <div class="wrapper1">
         <h2>Test Quiz</h2>
         <form>
           <% for (var i = 0; i < data.length; i++) { %>
             <h3 class="question"><%= i+1 %>.<%= data.indexOf[i]%> <%= data[i].question%></h3>
             <label><input type="radio" name="<%=data[i].name%>" class="input-class" id="<%=data[i].id1%>"><span class="answer"><%=data[i].answer1%></span></label>
             <label><input type="radio" name="<%=data[i].name%>" class="input-class" id="<%=data[i].id2%>"><span class="answer"><%=data[i].answer2%></span></label>
             <label><input type="radio" name="<%=data[i].name%>" class="input-class" id="<%=data[i].id3%>"><span class="answer"><%=data[i].answer3%></span></label>
             <label><input type="radio" name="<%=data[i].name%>" class="input-class" id="<%=data[i].id4%>"><span class="answer"><%=data[i].answer4%></span></label>
           <% }; %>
         </form>
         <!-- <form> -->
           <!-- //for correctAnswer field -->
           <!-- <% for (var i = 0; i < data.length; i++) { %>
             <h3 class="question"><%= i+1 %>.<%= data.indexOf[i]%> <%= data[i].question%></h3>
             <label><input type="radio" name="<%=data[i].name%>" class="input-class"><span class="answer"><%=data[i].answer1%></span></label>
             <label><input type="radio" name="<%=data[i].name%>" class="input-class"><span class="answer"><%=data[i].answer2%></span></label>
             <label><input type="radio" name="<%=data[i].name%>" class="input-class"><span class="answer"><%=data[i].answer3%></span></label>
             <label><input type="radio" name="<%=data[i].name%>" class="input-class"><span class="answer"><%=data[i].answer4%></span></label>
           <% }; %>
         </form> -->

         <button class="button">Check my results</button>
       </div>
     </div>
    </script>
    <script type="text/javascript" src="js/13-14.js"></script>
  </body>
</html>
