@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

.wrapper-top, .wrapper-articles, .wrapper-services, .wrapper-news, footer, .wrapper-contacts, .wrapper-news-inner, .wrapper-logos {
  width: 1160px;
  height: 100px;
  margin: 0 auto;
  clear: both; }

.main-logo {
  width: 70%;
  height: 115px;
  float: left; }
  .main-logo .slogan {
    font-family: "Ubuntu", sans-serif;
    font-size: 30px;
    color: #434343;
    font-weight: bold;
    margin: 36px 0 -4px 0; }
  .main-logo .subslogan {
    text-transform: uppercase;
    font-family: "Ubuntu", sans-serif;
    font-size: 12px;
    color: #8c8c8c;
    letter-spacing: 3px;
    margin-left: 57px; }

.logo-top {
  display: block;
  float: left;
  width: 52px;
  height: 36px;
  background-image: url(../img/main_logo.png);
  margin: 43px 0 0 3px; }

.social-netw {
  float: right;
  width: 30%;
  height: 115px; }

a {
  color: white;
  text-decoration: none;
  display: block; }

li {
  list-style: none; }

.menu-top {
  float: left;
  clear: both;
  width: 560px;
  height: 57px;
  background-color: #2a2d32;
  margin-bottom: 41px; }
  .menu-top li {
    display: inline-block;
    width: 19%;
    border-right: 1px solid #181a1d;
    text-align: center; }
  .menu-top a {
    text-transform: uppercase;
    line-height: 57px;
    font-family: "Ubuntu", sans-serif;
    font-size: 13px; }

.cart {
  float: right;
  width: 600px;
  height: 57px;
  background-color: #2a2d32;
  margin-bottom: 41px; }

.menu-top a:hover {
  color: #f4b60d; }

.jcarousel-wrapper {
  margin: 0 auto;
  width: 1160px;
  height: 470px;
  clear: both;
  position: relative; }

/** Carousel **/
.jcarousel {
  overflow: hidden;
  width: 1160px;
  height: 470px; }

.jcarousel ul {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0; }

.jcarousel li {
  float: left; }

/** Carousel Pagination **/
.jcarousel-pagination {
  position: absolute;
  bottom: 10px;
  left: 50%; }

.jcarousel-pagination a {
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  line-height: 14px;
  min-width: 14px;
  background: red;
  color: #4E443C;
  padding: 3px;
  text-align: center;
  margin-right: 2px;
  opacity: .75; }

.jcarousel-pagination a.active {
  background: #4E443C;
  color: #fff;
  opacity: 1;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75); }

.wrapper-articles {
  height: 338px;
  font-family: "Ubuntu", sans-serif;
  clear: both; }
  .wrapper-articles section {
    width: 33%;
    float: left; }
    .wrapper-articles section h3 {
      clear: both;
      margin-bottom: 21px; }
    .wrapper-articles section article {
      margin-bottom: 30px;
      color: #8a8a8a;
      font-size: 14px; }
  .wrapper-articles a {
    color: black; }

.number1, .number2, .number3 {
  float: left;
  width: 90px;
  margin-top: 55px;
  font-size: 86px;
  color: #e9e9ea; }

.content1, .content2, .content3 {
  float: right;
  width: 260px;
  margin: 70px -2px 0 0; }

.article-icon1, .article-icon2, .article-icon3 {
  display: block;
  background-image: url(../img/article-icon.png);
  height: 32px;
  width: 32px;
  float: left;
  margin-bottom: 15px; }

.article-icon2 {
  background-position: 71px 0;
  width: 35px; }

.article-icon3 {
  background-position: 34px 0;
  width: 34px; }

.read-more {
  font-size: 13px;
  font-weight: bold; }

.read-more:hover {
  color: #248cec; }

.wrapper-services, .wrapper-news, footer, .wrapper-contacts {
  width: 100%;
  height: 504px;
  background-color: #2a2d32; }

.inner, .footer-menu, .contacts {
  width: 1160px;
  height: 100%;
  margin: 0 auto;
  color: white;
  font-family: "Ubuntu", sans-serif; }
  .inner span a, .footer-menu span a, .contacts span a {
    font-size: 25px;
    margin-bottom: 52px;
    padding-top: 42px; }

.service1 {
  margin: 0 40px 0 -1px; }

.service2, .service3 {
  margin-right: 40px; }

.services {
  width: 260px;
  height: 312px;
  float: left; }
  .services a {
    margin: 32px 0 0 -14px;
    text-align: center;
    font-size: 18px; }

.service1 a:hover {
  color: #f4b60d; }

.serv-pic1, .serv-pic2, .serv-pic3, .serv-pic4 {
  width: 260px;
  height: 260px;
  background-image: url(../img/services.png);
  background-position: -170px 0; }

.serv-pic2 {
  background-position: -490px 0; }

.serv-pic3 {
  background-position: -755px 0; }

.serv-pic4 {
  background-position: -1017px 0; }

.sliding-block {
  height: 260px;
  width: 260px;
  position: absolute;
  display: none;
  background-color: red; }

.test {
  visibility: hidden; }

.serv-pic1:hover .test, .serv-pic2:hover .test, .serv-pic3:hover .test, .serv-pic4:hover .test {
  visibility: visible; }

.wrapper-news {
  height: 540px;
  background-color: #f7f7f7; }

.wrapper-news-inner {
  height: 540px; }

.news, .banner-place {
  float: left;
  height: 100%;
  width: 50%;
  font-family: "Ubuntu", sans-serif; }
  .news .name, .banner-place .name {
    margin: 58px 0 46px 2px;
    font-size: 24px;
    font-weight: bold; }
  .news :nth-child(2), .banner-place :nth-child(2) {
    margin-bottom: 10px; }
  .news .news-img, .banner-place .news-img {
    width: 151px;
    height: 151px;
    display: block;
    float: left;
    background-image: url(../img/news.png);
    clear: both;
    margin: 0 32px 28px 0; }
  .news .post, .banner-place .post {
    float: left;
    width: 65%; }
    .news .post p, .banner-place .post p {
      color: #8a8a8a; }
    .news .post h3:hover, .banner-place .post h3:hover, .news .post .author, .banner-place .post .author {
      color: #248cec;
      cursor: pointer; }

section {
  position: relative; }

.month-sqr, .date-sqr, .post2 .date-sqr, .post2 .month-sqr {
  width: 40px;
  height: 40px;
  background-color: #248cec;
  position: absolute;
  top: 12px;
  left: -18px; }

.month, .date {
  position: relative;
  top: 13px;
  left: 0;
  color: #f0f7fe;
  font-size: 13px;
  margin-left: 11px; }

.date-sqr, .post2 .date-sqr {
  background-color: #f4b60d;
  top: 52px; }

.date {
  font-size: 16px;
  color: #2a2b2e;
  font-weight: bold; }

.post2 .date-sqr, .post2 .month-sqr {
  top: 192px; }

.post2 .date-sqr {
  top: 230px; }

.img-post2 {
  background-position: 0 150px; }

section h3 {
  text-transform: capitalize; }

/**
* Компоненты аккордеона.
*/
.accordion {
  margin: 0;
  margin-bottom: 1.5rem;
  padding: 0;
  list-style: none; }

.accordion_item {
  background-color: white; }

.accordion_item:last-of-type {
  border-bottom: none; }

/**
* Элемент label который запускает открыть/закрыть.
*/
.accordion_trigger {
  display: block;
  background-color: white;
  color: #2a2d32;
  font-weight: normal;
  cursor: pointer;
  padding: 1.2em;
  text-transform: uppercase;
  border: 1px solid #e8e8e8; }

.accordion_trigger::before {
  content: '\002B';
  font-size: 13px;
  margin-right: 10px;
  border-right: 1px solid red; }

/* меняем цвет фона у активного переключателя */
.accordion_toggle:checked ~ .accordion_trigger {
  background-color: #f4b60d;
  color: white; }

/**
 * эти элементы radio/checkbox всегда должны быть скрыты.
 */
.accordion_toggle {
  position: absolute;
  display: none; }

/**
* скрытое содержание аккордеона.
*/
.accordion_target {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  color: #8a8a8a; }

/**
* когда переключатель checked на radio/checkbox, показать содержимое аккордеона.
*/
.accordion_toggle:checked ~ .accordion_target {
  position: static;
  overflow: visible;
  clip: auto;
  margin: auto;
  padding: 1.2rem;
  width: auto;
  height: auto;
  /* задержка появления  функция анимации */
  -webkit-animation: fadeIn ease-in 0.5s;
  -moz-animation: fadeIn ease-in 0.5s;
  animation: fadeIn ease-in 0.5s; }

/* анимация при появлении блоков с содержанием */
@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.wrapper-logos {
  height: 240px; }

.logo1, .logo2, .logo3, .logo4, .logo5, .logo6 {
  display: block;
  float: left;
  height: 62px;
  width: 143px;
  background-image: url(../img/bot_logos.png);
  margin-top: 87px;
  opacity: 0.65;
  margin-right: 45px; }

.logo2 {
  background-position: -148px 0;
  margin: 90px 68px 0 0; }

.logo3 {
  width: 184px;
  background-position: -295px 0;
  margin: 90px 45px 0 0; }

.logo4 {
  background-position: -480px 0;
  margin: 90px 60px 0 0; }

.logo5 {
  background-position: -628px 0;
  margin-right: 0; }

.logo6 {
  background-position: -757px 0;
  margin-right: 0; }

footer, .wrapper-contacts {
  height: 387px;
  clear: both;
  font-family: "Ubuntu", sans-serif; }

.footer-menu, .contacts {
  height: 325px; }

.menu1, .menu2, .menu3, .menu4 {
  width: 260px;
  height: 100%;
  float: left;
  margin-right: 42px; }
  .menu1 span a, .menu2 span a, .menu3 span a, .menu4 span a {
    text-transform: uppercase;
    font-size: 15px;
    margin: 18px 0 33px 0; }
  .menu1 li, .menu2 li, .menu3 li, .menu4 li {
    border-bottom: 1px solid #393c40; }
  .menu1 li:last-child, .menu2 li:last-child, .menu3 li:last-child, .menu4 li:last-child {
    border-bottom: none; }
  .menu1 li a, .menu2 li a, .menu3 li a, .menu4 li a {
    color: #797a7c;
    font-size: 13px;
    padding: 10px 0 11px 0; }
  .menu1 li a:hover, .menu2 li a:hover, .menu3 li a:hover, .menu4 li a:hover {
    color: #248cec; }

.menu2 {
  margin-right: 41px; }

.menu3 {
  margin-right: 37px; }

.menu4 {
  margin-right: 0px; }

.wrapper-contacts {
  background-color: #35383c;
  height: 60px; }

.contacts {
  height: 100%; }
  .contacts span {
    line-height: 60px;
    color: #797a7c;
    font-size: 12px;
    float: left; }
  .contacts .location, .contacts .phone, .contacts .email {
    background-image: url(../img/footer-icons.png);
    width: 13px;
    height: 16px;
    float: left;
    margin: 23px 7px 0 3px; }
  .contacts :nth-child(2) {
    margin: 0 36px 0 3px; }
  .contacts .phone {
    background-position: 12px 0;
    width: 12px; }
  .contacts :nth-child(4) {
    margin-right: 41px; }
  .contacts .email {
    background-position: 30px 0;
    width: 18px;
    margin-right: 10px; }
  .contacts :last-child {
    float: right; }
