<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->

    <script type="text/javascript" src="js/template.js"></script>
    <script type="text/javascript" src="js/js11-12.js"></script>
  </head>
  <body>
    <script type="text/html" id="mypage">
      <div class="wrapper">
        <div class="name">
          <h2><%= data.fullname%></h2>
        </div>
        <div class="image">
          <img src="<%= data.image %>">
        </div>
        <div class="whyfrontend">
          <h3>Why would you like to learn FrontEnd?</h3>
          <ul>
            <% for (var i = 0; i < data.whyfrontend.length; i++) { %>
            <li><%= data.whyfrontend[i] %></li>
          <% }; %>
          </ul>
        </div>
        <div class="phone">
          <h3>My phone number</h3>
          <p><%= data.phone %></p>
        </div>
        <div class="profile">
          <h3>My profile on Linkedin</h3>
          <!-- <p><%= data.profile %></p> -->
          <a href="<%= data.profile %>">Linkedin</a>
        </div>
        <div class="feedback">
          <h3>My feedback</h3>
          <p><%= data.feedback %></p>
        </div>
    </script>
  </body>
</html>
