.jcarousel-wrapper1, .jcarousel-wrapper2, .jcarousel-wrapper3 {
  width: 31%;
  height: 400px;
  position: absolute;
  left: 2px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  .jcarousel-wrapper1 a, .jcarousel-wrapper2 a, .jcarousel-wrapper3 a {
    color: #fff; }
  .jcarousel-wrapper1 .jcarousel, .jcarousel-wrapper2 .jcarousel, .jcarousel-wrapper3 .jcarousel {
    position: relative;
    overflow: hidden; }
    .jcarousel-wrapper1 .jcarousel ul, .jcarousel-wrapper2 .jcarousel ul, .jcarousel-wrapper3 .jcarousel ul {
      width: 20000em;
      position: relative;
      list-style: none;
      margin: 0;
      padding: 0; }
      .jcarousel-wrapper1 .jcarousel ul li, .jcarousel-wrapper2 .jcarousel ul li, .jcarousel-wrapper3 .jcarousel ul li {
        float: left; }
  .jcarousel-wrapper1 .jcarousel-control-prev, .jcarousel-wrapper2 .jcarousel-control-prev, .jcarousel-wrapper3 .jcarousel-control-prev {
    position: absolute;
    top: 152px;
    left: 21px;
    width: 30px;
    height: 56px;
    background: url(../img/arrows.png) 0 0 no-repeat; }
  .jcarousel-wrapper1 .jcarousel-control-next, .jcarousel-wrapper2 .jcarousel-control-next, .jcarousel-wrapper3 .jcarousel-control-next {
    position: absolute;
    top: 152px;
    right: 20px;
    width: 30px;
    height: 56px;
    background-image: url(../img/arrows.png);
    background-position: 31px 0; }

.jcarousel-wrapper2 {
  left: 323px; }

.jcarousel-wrapper3 {
  left: 644px; }
