@import url(fonts.css);
* {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

a {
  text-decoration: none;
  color: white; }

.wrapper-picture {
  width: 100%;
  height: 693px;
  margin: 0 auto;
  background: url(../img/main-pic.jpg) 0 0 no-repeat;
  background-size: cover; }

.wrapper-top, .wrapper-steps, .wrapper-partner, .wrapper-ideas, .wrapper-find, footer .wrapper-footer {
  width: 940px;
  margin: 0 auto; }
  .wrapper-top .name, .wrapper-steps .name, .wrapper-partner .name, .wrapper-ideas .name, .wrapper-find .name, footer .wrapper-footer .name {
    float: left;
    text-transform: uppercase;
    font-size: 20px;
    margin: 40px 0 0 1px;
    font-family: "montserrat-bold";
    color: white;
    letter-spacing: 1.2px; }
  .wrapper-top .button-wrapper, .wrapper-steps .button-wrapper, .wrapper-partner .button-wrapper, .wrapper-ideas .button-wrapper, .wrapper-find .button-wrapper, footer .wrapper-footer .button-wrapper {
    float: right;
    margin: 33px -2px 141px 0; }
    .wrapper-top .button-wrapper .button-login, .wrapper-steps .button-wrapper .button-login, .wrapper-partner .button-wrapper .button-login, .wrapper-ideas .button-wrapper .button-login, .wrapper-find .button-wrapper .button-login, footer .wrapper-footer .button-wrapper .button-login, .wrapper-top .button-wrapper .button-signup, .wrapper-steps .button-wrapper .button-signup, .wrapper-partner .button-wrapper .button-signup, .wrapper-ideas .button-wrapper .button-signup, .wrapper-find .button-wrapper .button-signup, footer .wrapper-footer .button-wrapper .button-signup {
      background-color: transparent;
      border: none;
      width: 74px;
      height: 36px;
      cursor: pointer;
      font-family: "montserrat-bold";
      border-radius: 18px;
      color: white; }
    .wrapper-top .button-wrapper .button-login:hover, .wrapper-steps .button-wrapper .button-login:hover, .wrapper-partner .button-wrapper .button-login:hover, .wrapper-ideas .button-wrapper .button-login:hover, .wrapper-find .button-wrapper .button-login:hover, footer .wrapper-footer .button-wrapper .button-login:hover, .wrapper-top .button-wrapper .button-signup:hover, .wrapper-steps .button-wrapper .button-signup:hover, .wrapper-partner .button-wrapper .button-signup:hover, .wrapper-ideas .button-wrapper .button-signup:hover, .wrapper-find .button-wrapper .button-signup:hover, footer .wrapper-footer .button-wrapper .button-signup:hover {
      background-color: #ff4e50; }
    .wrapper-top .button-wrapper .button-signup, .wrapper-steps .button-wrapper .button-signup, .wrapper-partner .button-wrapper .button-signup, .wrapper-ideas .button-wrapper .button-signup, .wrapper-find .button-wrapper .button-signup, footer .wrapper-footer .button-wrapper .button-signup {
      width: 90px;
      border: 2px solid white;
      border-radius: 18px; }
  .wrapper-top .wrapper-slogan, .wrapper-steps .wrapper-slogan, .wrapper-partner .wrapper-slogan, .wrapper-ideas .wrapper-slogan, .wrapper-find .wrapper-slogan, footer .wrapper-footer .wrapper-slogan {
    width: 90%;
    clear: both;
    margin: 0 auto;
    color: white; }
    .wrapper-top .wrapper-slogan .slogan, .wrapper-steps .wrapper-slogan .slogan, .wrapper-partner .wrapper-slogan .slogan, .wrapper-ideas .wrapper-slogan .slogan, .wrapper-find .wrapper-slogan .slogan, footer .wrapper-footer .wrapper-slogan .slogan {
      width: 490px;
      height: 101px;
      font-family: "montserrat-bold";
      font-size: 52px;
      text-transform: uppercase;
      text-align: center;
      margin: 0 0 44px 180px; }
      .wrapper-top .wrapper-slogan .slogan .slogan-row2, .wrapper-steps .wrapper-slogan .slogan .slogan-row2, .wrapper-partner .wrapper-slogan .slogan .slogan-row2, .wrapper-ideas .wrapper-slogan .slogan .slogan-row2, .wrapper-find .wrapper-slogan .slogan .slogan-row2, footer .wrapper-footer .wrapper-slogan .slogan .slogan-row2 {
        margin: 0 0 0 -1px; }
    .wrapper-top .wrapper-slogan .slogan1, .wrapper-steps .wrapper-slogan .slogan1, .wrapper-partner .wrapper-slogan .slogan1, .wrapper-ideas .wrapper-slogan .slogan1, .wrapper-find .wrapper-slogan .slogan1, footer .wrapper-footer .wrapper-slogan .slogan1 {
      width: 405px;
      height: 24px;
      font-size: 24px;
      font-family: 'roboto-thin';
      margin: 0 0 41px 228px;
      word-spacing: 1px; }
    .wrapper-top .wrapper-slogan .button-find, .wrapper-steps .wrapper-slogan .button-find, .wrapper-partner .wrapper-slogan .button-find, .wrapper-ideas .wrapper-slogan .button-find, .wrapper-find .wrapper-slogan .button-find, footer .wrapper-footer .wrapper-slogan .button-find {
      width: 225px;
      height: 40px;
      background-color: #ff4e50;
      border-radius: 20px;
      font-family: "montserrat-bold";
      border: none;
      color: white;
      cursor: pointer;
      margin-left: 314px;
      letter-spacing: 0.4px; }

.wrapper-steps {
  height: 556px;
  position: relative; }
  .wrapper-steps .chapter-name {
    text-align: center;
    font-family: "montserrat-bold";
    font-size: 22px;
    color: #333;
    margin: 94px 0 34px 3px; }

.wrapper-partner {
  clear: both;
  height: 467px; }
  .wrapper-partner .chapter-name {
    text-align: center;
    font-family: "montserrat-bold";
    font-size: 22px;
    color: #333;
    margin: 0 0 32px 3px; }
  .wrapper-partner .partners {
    height: 233px;
    margin-bottom: 20px; }
    .wrapper-partner .partners .section1, .wrapper-partner .partners .section2, .wrapper-partner .partners .section3, .wrapper-partner .partners .section4 {
      width: 200px;
      float: left;
      margin: 0 7px 0 19px; }
      .wrapper-partner .partners .section1 .partner, .wrapper-partner .partners .section2 .partner, .wrapper-partner .partners .section3 .partner, .wrapper-partner .partners .section4 .partner, .wrapper-partner .partners .section2 .partner2, .wrapper-partner .partners .section3 .partner3, .wrapper-partner .partners .section4 .partner4 {
        float: left;
        width: 125px;
        height: 125px;
        margin: 0 20px 14px 35px;
        background: url(../img/partners.png) 0 0 no-repeat; }
      .wrapper-partner .partners .section1 h4, .wrapper-partner .partners .section2 h4, .wrapper-partner .partners .section3 h4, .wrapper-partner .partners .section4 h4 {
        clear: both;
        color: #333;
        font-size: 14px;
        font-family: "montserrat-bold";
        margin: 0 0 11px 41px; }
      .wrapper-partner .partners .section1 p, .wrapper-partner .partners .section2 p, .wrapper-partner .partners .section3 p, .wrapper-partner .partners .section4 p {
        color: #666;
        font-size: 14px;
        font-family: 'roboto-thin';
        text-align: center;
        margin-left: -15px;
        word-spacing: 1px; }
    .wrapper-partner .partners .section2 {
      width: 216px;
      margin-right: 1px; }
      .wrapper-partner .partners .section2 .partner2 {
        background-position: -143px 0;
        margin-left: 48px; }
      .wrapper-partner .partners .section2 h4 {
        margin: 0 0 12px 53px; }
      .wrapper-partner .partners .section2 p {
        width: 213px;
        margin-left: 1px;
        line-height: 18px; }
    .wrapper-partner .partners .section3 {
      margin-right: 40px; }
      .wrapper-partner .partners .section3 .partner3 {
        background-position: -285px 0;
        margin: 0 0 14px 50px; }
      .wrapper-partner .partners .section3 h4 {
        margin: 0 0 12px 65px; }
      .wrapper-partner .partners .section3 p {
        width: 215px;
        margin-left: 3px;
        line-height: 17px; }
    .wrapper-partner .partners .section4 {
      float: right;
      margin: 0 0 0 0; }
      .wrapper-partner .partners .section4 .partner4 {
        background-position: -432px 0;
        margin: 0 0 14px 30px; }
      .wrapper-partner .partners .section4 h4 {
        margin: 0 0 12px 40px; }
      .wrapper-partner .partners .section4 p {
        width: 211px;
        margin: 0 0 0 -14px;
        line-height: 18px; }
  .wrapper-partner .button-partners {
    width: 192px;
    height: 40px;
    display: block;
    margin: 39px auto;
    clear: both;
    color: #ff4e50;
    font-family: "montserrat-bold";
    font-size: 14px;
    border: 2px solid #ff4e50;
    border-radius: 20px;
    background-color: white; }

.wrapper-ideas {
  height: 1000px;
  position: relative; }
  .wrapper-ideas .chapter-name {
    text-align: center;
    font-family: "montserrat-bold";
    font-size: 22px;
    color: #333;
    margin: 0 0 34px 3px; }
  .wrapper-ideas p {
    color: white;
    font-size: 30px; }
  .wrapper-ideas .idea {
    display: block;
    float: left;
    width: 300px;
    height: 310px;
    background: url(../img/ideas.jpg) 0 0 no-repeat; }
  .wrapper-ideas .idea1_desc {
    position: absolute;
    top: 180px;
    left: 50px; }
  .wrapper-ideas .idea2 {
    float: left;
    background-position: -322px 0; }
  .wrapper-ideas .idea2_desc {
    position: absolute;
    top: 180px;
    left: 330px; }
  .wrapper-ideas .idea3 {
    float: right;
    background-position: -640px 0; }
  .wrapper-ideas .idea3_desc {
    position: absolute;
    top: 180px;
    left: 682px; }
  .wrapper-ideas .idea4 {
    float: left;
    background-position: 0 -330px; }
  .wrapper-ideas .idea4_desc {
    position: absolute;
    top: 480px;
    left: 100px; }
  .wrapper-ideas .idea5 {
    float: left;
    width: 600px;
    background-position: -330px -330px; }
  .wrapper-ideas .idea5_desc {
    position: absolute;
    top: 480px;
    left: 330px; }
  .wrapper-ideas .idea6 {
    float: left;
    width: 600px;
    background-position: 0 -660px; }
  .wrapper-ideas .idea6_desc {
    position: absolute;
    top: 780px;
    left: 250px; }
  .wrapper-ideas .idea7 {
    float: left;
    background-position: -640px -660px; }
  .wrapper-ideas .idea7_desc {
    position: absolute;
    top: 780px;
    left: 680px; }

footer {
  border-top: 2px solid red; }
  footer .wrapper-footer ul {
    float: left; }
  footer .wrapper-footer span {
    float: left; }
  footer .wrapper-footer .designed {
    float: right;
    text-transform: uppercase; }
    footer .wrapper-footer .designed a {
      display: block;
      width: 110px;
      height: 24px;
      background: url(../img/designed.png) 0 0 no-repeat; }
