@font-face {
  font-family: 'montserrat-bold';
  src: url("../fonts/montserrat-bold-webfont.eot");
  src: url("../fonts/montserrat-bold-webfont.woff2") format('woff2'),
         url("../fonts/montserrat-bold-webfont.woff") format('woff'),
         url("../fonts/montserrat-bold-webfont.ttf") format('truetype'),
         url("../fonts/montserrat-bold-webfont.svg#league_gothicregular") format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-regular';
  src: url("../fonts/montserrat-regular-webfont.eot");
  src: url("../fonts/montserrat-regular-webfont.woff2") format('woff2'),
         url("../fonts/montserrat-regular-webfont.woff") format('woff'),
         url("../fonts/montserrat-regular-webfont.ttf") format('truetype'),
         url("../fonts/montserrat-regular-webfont.svg#league_gothicregular") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-black';
  src: url("../fonts/roboto-black-webfont.eot");
  src: url("../fonts/roboto-black-webfont.woff2") format('woff2'),
         url("../fonts/roboto-black-webfont.woff") format('woff'),
         url("../fonts/roboto-black-webfont.ttf") format('truetype'),
         url("../fonts/roboto-black-webfont.svg#league_gothicregular") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-blackitalic';
  src: url("../fonts/roboto-blackitalic-webfont.eot");
  src: url("../fonts/roboto-blackitalic-webfont.woff2") format('woff2'),
         url("../fonts/roboto-blackitalic-webfont.woff") format('woff'),
         url("../fonts/roboto-blackitalic-webfont.ttf") format('truetype'),
         url("../fonts/roboto-blackitalic-webfont.svg#league_gothicregular") format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'roboto-bold';
  src: url("../fonts/roboto-bold-webfont.eot");
  src: url("../fonts/roboto-bold-webfont.woff2") format('woff2'),
         url("../fonts/roboto-bold-webfont.woff") format('woff'),
         url("../fonts/roboto-bold-webfont.ttf") format('truetype'),
         url("../fonts/roboto-bold-webfont.svg#league_gothicregular") format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-bolditalic';
  src: url("../fonts/roboto-bolditalic-webfont.eot");
  src: url("../fonts/roboto-bolditalic-webfont.woff2") format('woff2'),
         url("../fonts/roboto-bolditalic-webfont.woff") format('woff'),
         url("../fonts/roboto-bolditalic-webfont.ttf") format('truetype'),
         url("../fonts/roboto-bolditalic-webfont.svg#league_gothicregular") format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'roboto-italic';
  src: url("../fonts/roboto-italic-webfont.eot");
  src: url("../fonts/roboto-italic-webfont.woff2") format('woff2'),
         url("../fonts/roboto-italic-webfont.woff") format('woff'),
         url("../fonts/roboto-italic-webfont.ttf") format('truetype'),
         url("../fonts/roboto-italic-webfont.svg#league_gothicregular") format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'roboto-light';
  src: url("../fonts/roboto-light-webfont.eot");
  src: url("../fonts/roboto-light-webfont.woff2") format('woff2'),
         url("../fonts/roboto-light-webfont.woff") format('woff'),
         url("../fonts/roboto-light-webfont.ttf") format('truetype'),
         url("../fonts/roboto-light-webfont.svg#league_gothicregular") format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-lightitalic';
  src: url("../fonts/roboto-lightitalic-webfont.eot");
  src: url("../fonts/roboto-lightitalic-webfont.woff2") format('woff2'),
         url("../fonts/roboto-lightitalic-webfont.woff") format('woff'),
         url("../fonts/roboto-lightitalic-webfont.ttf") format('truetype'),
         url("../fonts/roboto-lightitalic-webfont.svg#league_gothicregular") format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'roboto-medium';
  src: url("../fonts/roboto-medium-webfont.eot");
  src: url("../fonts/roboto-medium-webfont.woff2") format('woff2'),
         url("../fonts/roboto-medium-webfont.woff") format('woff'),
         url("../fonts/roboto-medium-webfont.ttf") format('truetype'),
         url("../fonts/roboto-medium-webfont.svg#league_gothicregular") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-mediumitalic';
  src: url("../fonts/roboto-mediumitalic-webfont.eot");
  src: url("../fonts/roboto-mediumitalic-webfont.woff2") format('woff2'),
         url("../fonts/roboto-mediumitalic-webfont.woff") format('woff'),
         url("../fonts/roboto-mediumitalic-webfont.ttf") format('truetype'),
         url("../fonts/roboto-mediumitalic-webfont.svg#league_gothicregular") format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'roboto-regular';
  src: url("../fonts/roboto-regular-webfont.eot");
  src: url("../fonts/roboto-regular-webfont.woff2") format('woff2'),
         url("../fonts/roboto-regular-webfont.woff") format('woff'),
         url("../fonts/roboto-regular-webfont.ttf") format('truetype'),
         url("../fonts/roboto-regular-webfont.svg#league_gothicregular") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-thin';
  src: url("../fonts/roboto-thin-webfont.eot");
  src: url("../fonts/roboto-thin-webfont.woff2") format('woff2'),
         url("../fonts/roboto-thin-webfont.woff") format('woff'),
         url("../fonts/roboto-thin-webfont.ttf") format('truetype'),
         url("../fonts/roboto-thin-webfont.svg#league_gothicregular") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-thinitalic';
  src: url("../fonts/roboto-thinitalic-webfont.eot");
  src: url("../fonts/roboto-thinitalic-webfont.woff2") format('woff2'),
         url("../fonts/roboto-thinitalic-webfont.woff") format('woff'),
         url("../fonts/roboto-thinitalic-webfont.ttf") format('truetype'),
         url("../fonts/roboto-thinitalic-webfont.svg#league_gothicregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
.jcarousel-wrapper1,
.jcarousel-wrapper2,
.jcarousel-wrapper3 {
  width: 300px;
  height: 400px;
  position: absolute;
  left: 2px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.jcarousel-wrapper1 a,
.jcarousel-wrapper2 a,
.jcarousel-wrapper3 a {
  color: #fff;
}

.jcarousel-wrapper1 .jcarousel,
.jcarousel-wrapper2 .jcarousel,
.jcarousel-wrapper3 .jcarousel {
  position: relative;
  overflow: hidden;
}

.jcarousel-wrapper1 .jcarousel ul,
.jcarousel-wrapper2 .jcarousel ul,
.jcarousel-wrapper3 .jcarousel ul {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.jcarousel-wrapper1 .jcarousel ul li,
.jcarousel-wrapper2 .jcarousel ul li,
.jcarousel-wrapper3 .jcarousel ul li {
  float: left;
}

.jcarousel-wrapper1 .jcarousel-control-prev,
.jcarousel-wrapper2 .jcarousel-control-prev,
.jcarousel-wrapper3 .jcarousel-control-prev {
  position: absolute;
  top: 152px;
  left: 21px;
  width: 30px;
  height: 56px;
  background: url("../img/arrows.png") 0 0 no-repeat;
}

.jcarousel-wrapper1 .jcarousel-control-next,
.jcarousel-wrapper2 .jcarousel-control-next,
.jcarousel-wrapper3 .jcarousel-control-next {
  position: absolute;
  top: 152px;
  right: 20px;
  width: 30px;
  height: 56px;
  background-image: url("../img/arrows.png");
  background-position: 31px 0;
}

.jcarousel-wrapper2 {
  left: 323px;
}

.jcarousel-wrapper3 {
  left: 644px;
}
/*MEDIA 768PX*/

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .wrapper-slogan {
    width: 5rem;
  }

  body {
    background-color: blue;
  }

  .wrapper-slogan {
    display: block;
    max-width: 20rem;
  }
}
@font-face {
  font-family: 'montserrat-bold';
  src: url("../fonts/montserrat-bold-webfont.eot");
  src: url("../fonts/montserrat-bold-webfont.woff2") format('woff2'),
         url("../fonts/montserrat-bold-webfont.woff") format('woff'),
         url("../fonts/montserrat-bold-webfont.ttf") format('truetype'),
         url("../fonts/montserrat-bold-webfont.svg#league_gothicregular") format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-regular';
  src: url("../fonts/montserrat-regular-webfont.eot");
  src: url("../fonts/montserrat-regular-webfont.woff2") format('woff2'),
         url("../fonts/montserrat-regular-webfont.woff") format('woff'),
         url("../fonts/montserrat-regular-webfont.ttf") format('truetype'),
         url("../fonts/montserrat-regular-webfont.svg#league_gothicregular") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-black';
  src: url("../fonts/roboto-black-webfont.eot");
  src: url("../fonts/roboto-black-webfont.woff2") format('woff2'),
         url("../fonts/roboto-black-webfont.woff") format('woff'),
         url("../fonts/roboto-black-webfont.ttf") format('truetype'),
         url("../fonts/roboto-black-webfont.svg#league_gothicregular") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-blackitalic';
  src: url("../fonts/roboto-blackitalic-webfont.eot");
  src: url("../fonts/roboto-blackitalic-webfont.woff2") format('woff2'),
         url("../fonts/roboto-blackitalic-webfont.woff") format('woff'),
         url("../fonts/roboto-blackitalic-webfont.ttf") format('truetype'),
         url("../fonts/roboto-blackitalic-webfont.svg#league_gothicregular") format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'roboto-bold';
  src: url("../fonts/roboto-bold-webfont.eot");
  src: url("../fonts/roboto-bold-webfont.woff2") format('woff2'),
         url("../fonts/roboto-bold-webfont.woff") format('woff'),
         url("../fonts/roboto-bold-webfont.ttf") format('truetype'),
         url("../fonts/roboto-bold-webfont.svg#league_gothicregular") format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-bolditalic';
  src: url("../fonts/roboto-bolditalic-webfont.eot");
  src: url("../fonts/roboto-bolditalic-webfont.woff2") format('woff2'),
         url("../fonts/roboto-bolditalic-webfont.woff") format('woff'),
         url("../fonts/roboto-bolditalic-webfont.ttf") format('truetype'),
         url("../fonts/roboto-bolditalic-webfont.svg#league_gothicregular") format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'roboto-italic';
  src: url("../fonts/roboto-italic-webfont.eot");
  src: url("../fonts/roboto-italic-webfont.woff2") format('woff2'),
         url("../fonts/roboto-italic-webfont.woff") format('woff'),
         url("../fonts/roboto-italic-webfont.ttf") format('truetype'),
         url("../fonts/roboto-italic-webfont.svg#league_gothicregular") format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'roboto-light';
  src: url("../fonts/roboto-light-webfont.eot");
  src: url("../fonts/roboto-light-webfont.woff2") format('woff2'),
         url("../fonts/roboto-light-webfont.woff") format('woff'),
         url("../fonts/roboto-light-webfont.ttf") format('truetype'),
         url("../fonts/roboto-light-webfont.svg#league_gothicregular") format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-lightitalic';
  src: url("../fonts/roboto-lightitalic-webfont.eot");
  src: url("../fonts/roboto-lightitalic-webfont.woff2") format('woff2'),
         url("../fonts/roboto-lightitalic-webfont.woff") format('woff'),
         url("../fonts/roboto-lightitalic-webfont.ttf") format('truetype'),
         url("../fonts/roboto-lightitalic-webfont.svg#league_gothicregular") format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'roboto-medium';
  src: url("../fonts/roboto-medium-webfont.eot");
  src: url("../fonts/roboto-medium-webfont.woff2") format('woff2'),
         url("../fonts/roboto-medium-webfont.woff") format('woff'),
         url("../fonts/roboto-medium-webfont.ttf") format('truetype'),
         url("../fonts/roboto-medium-webfont.svg#league_gothicregular") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-mediumitalic';
  src: url("../fonts/roboto-mediumitalic-webfont.eot");
  src: url("../fonts/roboto-mediumitalic-webfont.woff2") format('woff2'),
         url("../fonts/roboto-mediumitalic-webfont.woff") format('woff'),
         url("../fonts/roboto-mediumitalic-webfont.ttf") format('truetype'),
         url("../fonts/roboto-mediumitalic-webfont.svg#league_gothicregular") format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'roboto-regular';
  src: url("../fonts/roboto-regular-webfont.eot");
  src: url("../fonts/roboto-regular-webfont.woff2") format('woff2'),
         url("../fonts/roboto-regular-webfont.woff") format('woff'),
         url("../fonts/roboto-regular-webfont.ttf") format('truetype'),
         url("../fonts/roboto-regular-webfont.svg#league_gothicregular") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-thin';
  src: url("../fonts/roboto-thin-webfont.eot");
  src: url("../fonts/roboto-thin-webfont.woff2") format('woff2'),
         url("../fonts/roboto-thin-webfont.woff") format('woff'),
         url("../fonts/roboto-thin-webfont.ttf") format('truetype'),
         url("../fonts/roboto-thin-webfont.svg#league_gothicregular") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-thinitalic';
  src: url("../fonts/roboto-thinitalic-webfont.eot");
  src: url("../fonts/roboto-thinitalic-webfont.woff2") format('woff2'),
         url("../fonts/roboto-thinitalic-webfont.woff") format('woff'),
         url("../fonts/roboto-thinitalic-webfont.ttf") format('truetype'),
         url("../fonts/roboto-thinitalic-webfont.svg#league_gothicregular") format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

.wrapper-picture {
  width: 100%;
  height: 693px;
  margin: 0 auto;
  background: url("../img/main-pic.jpg") 0 0 no-repeat;
  background-size: cover;
}

.wrapper-top,
.wrapper-steps,
.wrapper-partner,
.wrapper-ideas,
.wrapper-find,
footer .wrapper-footer {
  width: 940px;
  margin: 0 auto;
}

.wrapper-top .name,
.wrapper-steps .name,
.wrapper-partner .name,
.wrapper-ideas .name,
.wrapper-find .name,
footer .wrapper-footer .name {
  float: left;
  text-transform: uppercase;
  font-size: 20px;
  margin: 40px 0 0 1px;
  font-family: "montserrat-bold";
  color: white;
  letter-spacing: 1.2px;
}

.wrapper-top .button-wrapper,
.wrapper-steps .button-wrapper,
.wrapper-partner .button-wrapper,
.wrapper-ideas .button-wrapper,
.wrapper-find .button-wrapper,
footer .wrapper-footer .button-wrapper {
  float: right;
  margin: 33px -2px 141px 0;
}

.wrapper-top .button-wrapper .button-login,
.wrapper-steps .button-wrapper .button-login,
.wrapper-partner .button-wrapper .button-login,
.wrapper-ideas .button-wrapper .button-login,
.wrapper-find .button-wrapper .button-login,
footer .wrapper-footer .button-wrapper .button-login,
.wrapper-top .button-wrapper .button-signup,
.wrapper-steps .button-wrapper .button-signup,
.wrapper-partner .button-wrapper .button-signup,
.wrapper-ideas .button-wrapper .button-signup,
.wrapper-find .button-wrapper .button-signup,
footer .wrapper-footer .button-wrapper .button-signup {
  background-color: transparent;
  border: none;
  width: 74px;
  height: 36px;
  cursor: pointer;
  font-family: "montserrat-bold";
  border-radius: 18px;
  color: white;
}

.wrapper-top .button-wrapper .button-login:hover,
.wrapper-steps .button-wrapper .button-login:hover,
.wrapper-partner .button-wrapper .button-login:hover,
.wrapper-ideas .button-wrapper .button-login:hover,
.wrapper-find .button-wrapper .button-login:hover,
footer .wrapper-footer .button-wrapper .button-login:hover,
.wrapper-top .button-wrapper .button-signup:hover,
.wrapper-steps .button-wrapper .button-signup:hover,
.wrapper-partner .button-wrapper .button-signup:hover,
.wrapper-ideas .button-wrapper .button-signup:hover,
.wrapper-find .button-wrapper .button-signup:hover,
footer .wrapper-footer .button-wrapper .button-signup:hover {
  background-color: #ff4e50;
}

.wrapper-top .button-wrapper .button-signup,
.wrapper-steps .button-wrapper .button-signup,
.wrapper-partner .button-wrapper .button-signup,
.wrapper-ideas .button-wrapper .button-signup,
.wrapper-find .button-wrapper .button-signup,
footer .wrapper-footer .button-wrapper .button-signup {
  width: 90px;
  border: 2px solid white;
  border-radius: 18px;
}

.wrapper-top .wrapper-slogan,
.wrapper-steps .wrapper-slogan,
.wrapper-partner .wrapper-slogan,
.wrapper-ideas .wrapper-slogan,
.wrapper-find .wrapper-slogan,
footer .wrapper-footer .wrapper-slogan {
  width: 90%;
  clear: both;
  margin: 0 auto;
  color: white;
}

.wrapper-top .wrapper-slogan .slogan,
.wrapper-steps .wrapper-slogan .slogan,
.wrapper-partner .wrapper-slogan .slogan,
.wrapper-ideas .wrapper-slogan .slogan,
.wrapper-find .wrapper-slogan .slogan,
footer .wrapper-footer .wrapper-slogan .slogan {
  width: 490px;
  height: 101px;
  font-family: "montserrat-bold";
  font-size: 52px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 44px 180px;
}

.wrapper-top .wrapper-slogan .slogan .slogan-row2,
.wrapper-steps .wrapper-slogan .slogan .slogan-row2,
.wrapper-partner .wrapper-slogan .slogan .slogan-row2,
.wrapper-ideas .wrapper-slogan .slogan .slogan-row2,
.wrapper-find .wrapper-slogan .slogan .slogan-row2,
footer .wrapper-footer .wrapper-slogan .slogan .slogan-row2 {
  margin: 0 0 0 -1px;
}

.wrapper-top .wrapper-slogan .slogan1,
.wrapper-steps .wrapper-slogan .slogan1,
.wrapper-partner .wrapper-slogan .slogan1,
.wrapper-ideas .wrapper-slogan .slogan1,
.wrapper-find .wrapper-slogan .slogan1,
footer .wrapper-footer .wrapper-slogan .slogan1 {
  width: 405px;
  height: 24px;
  font-size: 24px;
  font-family: 'roboto-thin';
  margin: 0 0 41px 228px;
  word-spacing: 1px;
}

.wrapper-top .wrapper-slogan .button-find,
.wrapper-steps .wrapper-slogan .button-find,
.wrapper-partner .wrapper-slogan .button-find,
.wrapper-ideas .wrapper-slogan .button-find,
.wrapper-find .wrapper-slogan .button-find,
footer .wrapper-footer .wrapper-slogan .button-find {
  width: 225px;
  height: 40px;
  background-color: #ff4e50;
  border-radius: 20px;
  font-family: "montserrat-bold";
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 314px;
  letter-spacing: 0.4px;
}

.wrapper-steps {
  height: 600px;
  position: relative;
}

.wrapper-steps section {
  width: 300px;
  float: left;
}

.wrapper-steps .chapter-name {
  text-align: center;
  font-family: "montserrat-bold";
  font-size: 22px;
  color: #333;
  margin: 94px 0 34px 3px;
}

.wrapper-partner {
  clear: both;
  height: 600px;
}

.wrapper-partner .button-partners {
  width: 192px;
  height: 40px;
  clear: both;
  color: #ff4e50;
  font-family: "montserrat-bold";
  font-size: 14px;
  border: 2px solid #ff4e50;
  border-radius: 20px;
  background-color: white;
}

.wrapper-partner .partners section {
  width: 125px;
  float: left;
}

.wrapper-partner .partners h4 {
  color: #333;
  font-size: 14px;
  font-family: "montserrat-bold";
}

.wrapper-partner .partners p {
  color: #666;
  font-size: 14px;
  font-family: 'roboto-thin';
}

.wrapper-partner .partners .partner {
  float: left;
  width: 125px;
  height: 125px;
  margin-right: 20px;
  background: url("../img/partners.png") 0 0 no-repeat;
}

.wrapper-partner .partners .partner2 {
  background-position: -143px 0;
}

.wrapper-partner .partners .partner3 {
  background-position: -285px 0;
}

.wrapper-partner .partners .partner4 {
  background-position: -432px 0;
}

.wrapper-ideas {
  height: 1000px;
  position: relative;
}

.wrapper-ideas p {
  color: white;
  font-size: 30px;
}

.wrapper-ideas .idea {
  display: block;
  float: left;
  width: 300px;
  height: 310px;
  background: url("../img/ideas.jpg") 0 0 no-repeat;
}

.wrapper-ideas .idea1_desc {
  position: absolute;
  top: 180px;
  left: 50px;
}

.wrapper-ideas .idea2 {
  float: left;
  background-position: -322px 0;
}

.wrapper-ideas .idea2_desc {
  position: absolute;
  top: 180px;
  left: 330px;
}

.wrapper-ideas .idea3 {
  float: right;
  background-position: -640px 0;
}

.wrapper-ideas .idea3_desc {
  position: absolute;
  top: 180px;
  left: 682px;
}

.wrapper-ideas .idea4 {
  float: left;
  background-position: 0 -330px;
}

.wrapper-ideas .idea4_desc {
  position: absolute;
  top: 480px;
  left: 100px;
}

.wrapper-ideas .idea5 {
  float: left;
  width: 600px;
  background-position: -330px -330px;
}

.wrapper-ideas .idea5_desc {
  position: absolute;
  top: 480px;
  left: 330px;
}

.wrapper-ideas .idea6 {
  float: left;
  width: 600px;
  background-position: 0 -660px;
}

.wrapper-ideas .idea6_desc {
  position: absolute;
  top: 780px;
  left: 250px;
}

.wrapper-ideas .idea7 {
  float: left;
  background-position: -640px -660px;
}

.wrapper-ideas .idea7_desc {
  position: absolute;
  top: 780px;
  left: 680px;
}

footer {
  border-top: 2px solid red;
}

footer .wrapper-footer ul {
  float: left;
}

footer .wrapper-footer span {
  float: left;
}

footer .wrapper-footer .designed {
  float: right;
  text-transform: uppercase;
}

footer .wrapper-footer .designed a {
  display: block;
  width: 110px;
  height: 24px;
  background: url("../img/designed.png") 0 0 no-repeat;
}