* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1000px;
  height: 1000px;
  margin: 0 auto;
  background-color: lightblue;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 300px;
  display: block;
  margin: 0px auto;
}

h3 {
  margin: 10px 100px;
}

h2 {
  text-align: center;
  /*padding-top: 30px;*/
  margin-bottom: 30px;
}

div {
  padding: 20px 0;
}

div p, li, a {
  margin-left: 130px;
}
