/*MEDIA 768PX*/

@media only screen and (min-width: 768px) and (max-width: 964px) {
  .wrapper-top {
    width: 742px;
    // max-width: 58.75rem;
    margin: 0 auto;
    .name {
      margin: 42px 0 0 37px;
    }
    .button-wrapper {
      margin: 36px 35px 142px 0;
    }
    .wrapper-slogan {
      margin-left: 53px;
      .slogan {
        margin: 0 0 45px 11%;
      }
      .slogan1 {
        margin-left: 18%;
      }
      .button-find {
        margin-left: 31%;
      }
    }
  }
  .wrapper-steps {
    width: 742px;
    .desktop {
      display: none;
    }
    .steps-mobile {
      display: none;
    }
    .tablet {
      display: block;
    }
    .chapter-name {
      margin-top: 98px;
      margin-left: 8px;
    }
    .jcarousel-wrapper1 {
      width: 32%;
      margin-left: -4px;
      background-position-x: 0;
      .jcarousel-control-prev, .jcarousel-control-next {
        top: 39px;
      }
    }
    .jcarousel-wrapper2 {
      width: 32%;
      margin-left: -68px;
      background-position-x: 0;
      .jcarousel-control-prev {
        left: 11px;
        top: 39px;
      }
      .jcarousel-control-next {
        right: 13px;
        top: 39px;
      }

    }
    .jcarousel-wrapper3 {
      width: 32%;
      margin-left: -133px;
      background-position-x: 0;
      .jcarousel-control-prev {
        left: 20px;
        top: 39px;
      }
      .jcarousel-control-next {
        right: 22px;
        top: 39px;
      }
    }
  }
  .wrapper-partner {
    width: 742px;
    height: 725px;
    .chapter-name {
      margin-left: -3px;
    }
    .partners {
      height: 492px;
      width: 500px;
      margin: 0 auto;
      .section1 {
        margin-left: 30px;
        margin-bottom: 55px;
        margin-right: 12px;
      }
      .section2 {
        p {
          margin-left: 0px;
        }
      }
      .section3 {
        float: none;
        margin-left: 10px;
        height: 200px;
        margin-bottom: 50px;
        h4 {
          margin-bottom: 11px;
        }
      }
      .section4 {
        h4 {
          margin-left: 39px;
          margin-bottom: 11px;
        }
      }
    }
  }
  .wrapper-ideas {
    clear: both;
    .chapter-name {
      margin-left: 2px;
    }
    .idea {
      margin-left: -1px;
      margin-right: 21px;
      width: 235px;
    }
    .idea1_desc {
      left: 15px;
      top: 202px;
      letter-spacing: 1px;
      text-align: center;
      font-size: 20px;
    }
    .idea2 {
      margin-right: 18px;
    }
    .idea2_desc {
      left: 306px;
      top: 193px;
      width: 137px;
      letter-spacing: 1px;
      text-align: center;
      font-size: 20px;
    }
    .idea3 {
      margin-right: 0px;
    }
    .idea3_desc {
      left: 536px;
      top: 189px;
      letter-spacing: 1px;
      text-align: center;
      font-size: 20px;
      line-height: 26px;
    }
    .idea4_desc {
      left: 78px;
      top: 534px;
      letter-spacing: 1px;
      text-align: center;
      font-size: 21px;
      line-height: 26px;
    }
    .idea5 {
      margin-right: 0px;
      width: 488px;
      background-position-x: -387px;
    }
    .idea5_desc {
      left: 377px;
      top: 533px;
      letter-spacing: 0.6px;
      text-align: center;
      font-size: 21px;
      line-height: 26px;
    }
    .idea6 {
      margin-right: 16px;
      width: 493px;
      background-position-x: -60px;
    }
    .idea6_desc {
      left: 185px;
      top: 863px;
      letter-spacing: 0.6px;
      text-align: center;
      font-size: 21px;
      line-height: 26px;
    }
    .idea7 {
      margin-right: 0px;
      background-position-x: -666px;
    }
    .idea7_desc {
      left: 574px;
      top: 862px;
      letter-spacing: .6px;
      text-align: center;
      font-size: 21px;
      line-height: 26px;
    }
  }
  .wrapper-find {
    .chapter-name {
      margin-left: 1px;
      margin-bottom: 29px
    }
    p {
      margin-left: 2px;
      margin-bottom: 36px;
    }
    .form_find {
      margin-left: 0px;
    }
  }
  footer {
    .wrapper-footer {
      .name {
        width: 227px;
        margin-top: 39px;
        margin-left: 27px;
      }
      .bottom_menu {
        margin-right: 104px;
        margin-top: 34px;
        .bold {
          margin-bottom: 5px;
        }
      }
      .partners_bot {
        margin-top: 38px;
        margin-right: 82px;
      }
      .designed {
        margin-top: 38px;
        p {
          width: 83px;
          letter-spacing: .8px;
          margin-left: 70px;
        }
      }
    }
  }
}
