/*MEDIA 320PX*/

@media only screen and (min-width: 320px) and (max-width: 776px) {
  .wrapper-picture {
    height: 540px;
    .wrapper-top {
      width: 320px;
      position: relative;
      .name {
        position: absolute;
        top: 136px;
        left: 68px;
        font-size: 20px;
      }
      .button-wrapper {
        width: 214px;
        margin-right: 32px;
        margin-top: 27px;
        margin-bottom: 167px;
        .button-login {
        }
        .button-signup {
          width: 90px;
          height: 36px;
          margin-left: 1px;
          border-radius: 18px;
        }
      }
      .wrapper-slogan {
        .slogan {
          width: 295px;
          font-size: 30px;
          margin-left: 5px;
          margin-bottom: -21px;
        }
        .slogan1 {
          width: 219px;
          font-size: 18px;
          text-align: center;
          margin-left: 42px;
          margin-bottom: 35px;
          line-height: 22px;
        }
        .button-find {
          width: 280px;
          height: 40px;
          margin-left: 12px;
        }
      }
    }
  }
  .wrapper-steps {
    width: 320px;
    height: 815px;
    .chapter-name {
      margin-top: 40px;
      margin-left: -3px;
      margin-bottom: 14px;
    }
    .steps-mobile {
      display: block;
      .step1-mob {
        margin: 1px 0 6px 8px;
      }
      .step2-mob {
        margin: 0 0 5px 8px;
      }
      .step3-mob {
        margin-left: 8px;
      }
    }
    .jcarousel-control-prev {
      display: none;
    }
    .jcarousel-control-next {
      display: none;
    }
    .tablet {
      display: none;
    }
    .desktop {
      display: none;
    }
  }
  .wrapper-partner {
    width: 320px;
    height: 1092px;
    .chapter-name {
      width: 300px;
      margin-left: 5px;
      margin-bottom: 15px;
      line-height: 27px;
    }
    .partners {
      position: relative;
      height: 909px;
      .section1 {
        margin-left: 64px;
        margin-bottom: 26px;
        .partner1 {
          margin-bottom: 12px;
        }
        h4 {
          margin-bottom: 13px;
        }
        p {
          margin-left: -13px;
          line-height: 18px;
        }
      }
      .section2 {
        position: absolute;
        top: 490px;
        margin-left: 48px;
        p {
          margin-left: 0;
        }
      }
      .section3 {
        position: absolute;
        top: 229px;
        margin-left: 46px;
        .partner3 {
          margin-bottom: 12px;
        }
        p {
          margin-left: 3px;
          line-height: 17px;
        }

      }
      .section4 {
        position: absolute;
        top: 719px;
        p {
          margin-left: -14px;
        }
      }
    }
    .button-partners {
      width: 280px;
      margin-left: 16px;
    }
  }
  .wrapper-ideas {
    width: 320px;
    height: 967px;
    .grid-sizer,
    .grid-item {
      width: 99%;
    }
    .mobile-ideas {
      height: 900px;
      width: 300px;
      display: block;
      .mobile-idea1 {
        display: block;
        width: 300px;
        height: 120px;
        background-image: url(../img/dist/mobile-ideas.jpg);
        margin-bottom: 10px;
        margin-left: 9px;
        border-radius: 4px;
      }
      .mobile-idea2 {
        @extend .mobile-idea1;
        background-position-y: -130px;
      }
      .mobile-idea3 {
        @extend .mobile-idea1;
        background-position-y: -261px;
      }
      .mobile-idea4 {
        @extend .mobile-idea1;
        background-position-y: -390px;
      }
      .mobile-idea5 {
        @extend .mobile-idea1;
        background-position-y: -521px;
      }
      .mobile-idea6 {
        @extend .mobile-idea1;
        background-position-y: -651px;
      }
      .mobile-idea7 {
        @extend .mobile-idea1;
        background-position-y: -781px;
      }
    }
    .chapter-name {
      margin-left: -5px;
      margin-bottom: 13px;
      line-height: 26px;
    }
    .idea {
      display: none;
    }
    .idea1_desc {
      display: none;
    }
    .idea2_desc {
      display: none;
    }
    .idea3_desc {
      display: none;
    }
    .idea4_desc {
      display: none;
    }
    .idea5_desc {
      display: none;
    }
    .idea6_desc {
      display: none;
    }
    .idea7_desc {
      display: none;
    }

  }
  .wrapper-find {
    width: 320px;
    margin-top: -60px;
    .chapter-name {
      margin-left: -4px;
      margin-bottom: 8px;
      line-height: 27px;
    }
    p {
      margin-left: -5px;
      margin-bottom: 16px;
    }
    .form_find {
      width: 279px;
      margin-left: 0px;
      margin-bottom: 11px;
      text-indent: 15px;
    }
    .button-search {
      width: 280px;
      margin-left: -6px;
      margin-bottom: 39px;
    }
  }
  footer {
    .wrapper-footer {
      width: 320px;
      .name {
        margin: 20px 7px 0 85px;
      }
      .bottom_menu {
        width: 287px;
        margin: 7px 0 0 14px;
        text-align: center;
        .bold {
          display: block;
          margin-bottom: -4px;
        }
        li:nth-child(2) {
          display: inline-block;
          margin-left: 2px;
          margin-right: 10px;

        }
        li:nth-child(3) {
          display: inline-block;
        }
        li:nth-child(4) {
          display: inline-block;
          margin-left: 10px;
        }
        li:last-child {
          display: inline-block;
          margin-left: 11px;
        }
      }
      .partners_bot {
        margin: 9px 0 0 128px;
      }
      .designed {
        margin-top: 14px;
        margin-left: 62px;
        p {
          margin-left: 55px;
          letter-spacing: 1px;
        }
      }
    }

  }
}
