$wrapper-width: 960px;
$main-font: 'montserrat-bold', sans-serif;
$secondary-font: 'roboto-thin', sans-serif;
$text-color: #333;
$main-color:  #ff4e50;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

//top
.wrapper-picture {
  width: 100%;
  height: 693px;
  margin: 0 auto;
  background: url(../img/dist/main-pic.jpg) no-repeat center;
  background-size: cover;
}

.wrapper-top {
  width: 960px;
  margin: 0 auto;
  .name {
    float: left;
    text-transform: uppercase;
    font-size: 20px;
    margin: 42px 0 0 9px;
    font-family: $main-font;
    color: white;
    letter-spacing: 1.2px;
    a:hover {
      color: $main-color;
    }
  }
  .button-wrapper {
    float: right;
    margin: 34px 11px 141px 0;
    .button-login {
      background-color: rgba(0, 0, 0, 0);
      border: none;
      width: 74px;
      height: 36px;
      cursor: pointer;
      font-family: $main-font;
      border-radius: 18px;

      color: white;
    }
    .button-login:hover {
      background-color: $main-color;
    }
    .button-signup {
      @extend .button-login;
      width: 90px;
      border: 2px solid white;
      border-radius: 18px;
    }
  }
  .wrapper-slogan {
    width: 90%;
    clear: both;
    margin: 0 auto;
    color: white;
    .slogan {
      width: 490px;
      height: 101px;
      font-family: $main-font;
      font-size: 52px;
      text-transform: uppercase;
      text-align: center;
      margin: 0 0 45px 185px;
      .slogan-row2 {
        margin: 0 0 0 -1px;
      }
    }
    .slogan1 {
      width: 405px;
      height: 24px;
      font-size: 24px;
      font-family: $secondary-font;
      margin: 0 0 41px 233px;
      word-spacing: 1.6px;
    }
    .button-find {
      width: 225px;
      height: 40px;
      background-color: $main-color;
      border-radius: 20px;
      font-family: $main-font;
      border: none;
      color: white;
      cursor: pointer;
      margin-left: 319px;
      letter-spacing: 0.4px;
    }
    .button-find:hover{
      color: #14c1f4;
    }
  }
}

//steps

.wrapper-steps {
  @extend .wrapper-top;
  height: 556px;
  position: relative;
  .chapter-name {
    text-align: center;
    font-family: $main-font;
    font-size: 22px;
    color: $text-color;
    margin: 97px 0 34px -4px;
  }
  .steps-mobile {
    display: none;
  }
  .tablet {
    display: none;
  }
}

//partners

.wrapper-partner {
  @extend .wrapper-top;
  clear: both;
  height: 467px;
  .chapter-name {
    text-align: center;
    font-family: $main-font;
    font-size: 22px;
    color: $text-color;
    margin: 0 0 32px -3px;
  }
  .partners {
    height: 233px;
    margin-bottom: 20px;
    .section1 {
      width: 200px;
      float: left;
      margin-left: 26px;
      .partner {
        float: left;
        width: 125px;
        height: 125px;
        margin: 0 20px 14px 35px;
        background: url(../img/dist/partners.png) 0 0 no-repeat;
      }
      h4 {
        clear: both;
        color: $text-color;
        font-size: 14px;
        font-family: $main-font;
        margin: 0 0 11px 41px;
      }
      p {
        color: #666;
        font-size: 14px;
        font-family: $secondary-font;
        text-align: center;
        margin-left: -15px;
        word-spacing: 1px;
      }
    }
    .section2 {
      @extend .section1;
      width: 216px;
      margin-right: -6px;
      .partner2 {
        @extend .partner;
        background-position: -143px 0;
        margin-left: 48px;
      }
      h4 {
        margin: 0 0 12px 53px;
      }
      p {
        width: 213px;
        line-height: 17px;
      }
    }
    .section3 {
      @extend .section1;
      margin-right: 26px;
      .partner3 {
        @extend .partner;
        background-position: -285px 0;
        margin: 0 0 14px 50px;
      }
      h4 {
        margin: 0 0 12px 65px;
      }
      p {
        width: 215px;
        margin-left:3px;
        line-height: 17px;
      }
    }
    .section4 {
      @extend .section1;
      float: right;
      margin-right: 13px;
      .partner4 {
        @extend .partner;
        background-position: -432px 0;
        margin: 0 0 14px 30px;
      }
      h4 {
        margin: 0 0 12px 40px;
      }
      p {
        width: 211px;
        margin: 0 0 0 -14px;
        line-height: 18px;
      }
    }
  }
  .button-partners {
    width: 192px;
    height: 40px;
    display: block;
    margin: 39px auto;
    clear: both;
    color: $main-color;
    font-family: $main-font;
    font-size: 14px;
    border: 2px solid $main-color;
    border-radius: 20px;
    background-color: white;
  }
  .button-partners:hover{
    cursor: pointer;
    background-color: $main-color;
    color: white;
  }
}

//ideas
.wrapper-ideas {
  max-width: 960px;
  margin: 0 auto;
  height: 1032px;
  position: relative;
  overflow: hidden;

  //for ajax description
  .description {
    display: block;
    width: 320px;
    color: white;
    position: absolute;
    top: 50%;
    left: 30%;
    background-color: rgba(0,0,0,0.5);
    font-family: $main-font;
  }

  .mobile-ideas {
    display: none;
  }

  .chapter-name {
    text-align: center;
    font-family: $main-font;
    font-size: 22px;
    color: $text-color;
    margin: 0 0 34px -2px;
  }

  p {
    color: white;
    font-size: 30px;
  }
  .idea {
    display: block;
    float: left;
    width: 300px;
    height: 310px;
    background: url(../img/dist/ideas.jpg) 0 0 no-repeat;
    border-radius: 4px;
    margin: 0 17px 20px 10px;
  }
  .idea1_desc {
    position: absolute;
    top: 200px;
    left: 59px;
    color: white;
    font-size: 22px;
    font-family: $main-font;
  }
  .idea2 {
    float: left;
    background-position: -320px 0;
    margin: 0 0 20px 3px;
  }
  .idea2_desc {
    @extend .idea1_desc;
    left: 373px;
  }
  .idea3 {
    float: right;
    background-position: -640px 0;
    margin-right: 10px;
  }
  .idea3_desc {
    @extend .idea1_desc;
    width: 182px;
    top: 187px;
    left: 708px;
  }
  .idea4 {
    float: left;
    background-position: 0 -330px;
  }
  .idea4_desc {
    @extend .idea1_desc;
    top: 531px;
    left: 122px;
  }
  .idea5 {
    float: left;
    width: 619px;
    background-position: -321px -330px;
    margin-left: 4px;
    margin-right: 0px;
  }
  .idea5_desc {
    @extend .idea1_desc;
    top: 531px;
    left: 516px;
  }
  .idea6 {
    float: left;
    width: 620px;
    background-position: 0 -660px;
    margin-right: 10px;
  }
  .idea6_desc {
    @extend .idea1_desc;
    top: 861px;
    left: 260px;
  }
  .idea7 {
    float: left;
    background-position: -640px -660px;
    margin-right: 0;
  }
  .idea7_desc {
    @extend .idea6_desc;
    left: 746px;
  }

  //masonry
  .desc {
    position: absolute;
    top: 50%;
    left: 20%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: $main-font;
    font-weight: bold;
    font-size: 20px;
  }
  .grid {
    width: 100%;
  }

  /* clear fix */
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }

  /* ---- .grid-item ---- */

  .grid-sizer,
  .grid-item {
    width: 33.333%;
  }

  .grid-item {
    float: left;
    position: relative;
  }

  .grid-item img {
    display: block;
    max-width: 100%;
  }
}

//find

.wrapper-find {
  @extend .wrapper-top;
  text-align: center;
  .chapter-name {
    font-family: $main-font;
    font-size: 22px;
    color: $text-color;
    margin: 94px 0 30px -3px;
  }
  p {
    color: $text-color;
    font-family: 'roboto-light', sans-serif;
    font-size: 18px;
    margin: 0 0 38px -2px;
  }
  .form_find {
    width: 238px;
    height: 38px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 0 #eee;
    font-size: 14px;
    margin: -1px 5px 100px -1px;
    text-indent: 14px;
    font-family: $secondary-font;
    color: #999;
  }
  .button-search {
    width: 160px;
    height: 39px;
    background-color: $main-color;
    border-radius: 20px;
    font-family: $main-font;
    border: none;
    color: white;
    cursor: pointer;
    letter-spacing: 0.4px;
  }
  .button-search:hover {
    color: #14c1f4;
  }
}
//footer
footer {
  height: 200px;
  border-top: 4px solid $main-color;
  .wrapper-footer{
  @extend .wrapper-top;
  .name{
    margin
    : 39px 0 0 8px;
    a {
      float: left;
      text-transform: uppercase;
      font-size: 16px;
      margin: -3px 95px 0 1px;
      font-family: $main-font;
      color: $main-color;
      letter-spacing: 1px;
    }
  }
  .bold {
    font-size: 14px;
    font-family: $main-font;
    color: $text-color;
    margin-bottom: 3px;
  }
  .bottom_menu {
    float: left;
    margin: 34px 93px 0 0;
    li {
      a {
        display: block;
        color: #666;
        font-size: 14px;
        font-family: $secondary-font;
        line-height: 25px;
      }
      .bold {
        font-size: 14px;
        font-family: $main-font;
        color: $text-color;
      }
    }
  }
  .partners_bot {
    @extend .bold;
    float: left;
    margin: 37px 330px 0 0;

  }
  .designed {
    float: left;
    text-transform: uppercase;
    margin-top: 39px;
    width: 153px;
    p {
      color: #ccc;
      font-size: 10px;
      font-family: $main-font, sans-serif;
      margin: 0 0 6px 70px;
      letter-spacing: 1px;
    }
    a {
      display: block;
      width: 110px;
      height: 24px;
      background: url(../img/dist/designed.png) 0 0 no-repeat;
      margin-left: 40px;
    }
  }
  }
}

@import "style-768.scss";
@import "style-320.scss";
