* {
  margin: 0;
  padding: 0;
}

html {
  background-color: black;
}

.wrapper {
    width: 960px;
    height: 881px;
    color: white;
    margin: 0 auto;
    background-image: url("../pic/layer.jpg");
    font-family: Arial, sans-serif;
}

.content {
    margin: -10px 68px;
    display: inline-block;
}

.logo {
  border: none;
  float: left;
  margin: 89px 0 0 0;

}

.contacts {
  float: right;
  margin: 178px 0 0 0;
  font-size: 10px;
}

.photo {
  margin: 240px 0 0 0;
}
footer p {
  text-align: center;
  color: white;
  font-size: 10px;
  margin-top: 143px;

}
