* {
  margin: 0;
  padding: 0;
}

html {
  background-image: url(../img/image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


span, p {
  font-size: 16px;
  color: blue;
  font-family: Arial, sans-serif;
  padding: 10px;
}
.section {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 300px;
  margin-top: -150px;
  margin-left: -400px;
  border: 3px solid rgb(255, 255, 0);
  border-radius: 15px;
  padding-top: 10px;
  background-color: rgba(210, 203, 198, .7);

}


.tabs {
  margin-left: 10px;
}

.tab {
  display: inline-block;
  width: 25%;
  height: 30px;
  margin-right: 0 10px;
  background-color: rgba(66, 161, 255, 1);

}

p {

  display: block;
}

.active {
    background-color: grey;
}

span {
  display: block;
  color: white;
  line-height: 30px;
  text-align: center;
  padding: 0;
}


.text1, .text2, .text3 {
  border-top: 5px solid grey;
  /*border-radius: 5px;*/
}
.texts {
  margin: 10px;
}
.text1 {
  display: none;
}

.text2 {
  display: none;
}

.text3 {
  display: none;
}


img {
  display: block;
  float: left;
  max-width: 40%;
}

.text3 p {
  float: right;
  max-width: 55%;
  overflow-y: scroll;
  max-height: 200px;
}

.text2 {
  max-height: 250px;
  overflow-y: scroll;
}
