/*MEDIA 768PX*/
@media only screen and (min-width: 776px) and (max-width: 976px) {
  .wrapper-top {
    width: 768px;
    margin: 0 auto; }
    .wrapper-top .name {
      margin: 44px 0 0 51px; }
    .wrapper-top .button-wrapper {
      margin: 36px 47px 142px 0; }
    .wrapper-top .wrapper-slogan {
      margin-left: 53px; }
      .wrapper-top .wrapper-slogan .slogan {
        margin: 0 0 45px 86px; }
      .wrapper-top .wrapper-slogan .slogan1 {
        margin-left: 134px;
        margin-bottom: 40px; }
      .wrapper-top .wrapper-slogan .button-find {
        margin-left: 220px; }
  .wrapper-steps {
    width: 742px; }
    .wrapper-steps .desktop {
      display: none; }
    .wrapper-steps .steps-mobile {
      display: none; }
    .wrapper-steps .tablet {
      display: block; }
    .wrapper-steps .chapter-name {
      margin-top: 99px;
      margin-left: 12px; }
    .wrapper-steps .jcarousel-wrapper1 {
      width: 236px;
      margin-left: -12px; }
      .wrapper-steps .jcarousel-wrapper1 .jcarousel-control-prev, .wrapper-steps .jcarousel-wrapper1 .jcarousel-control-next {
        top: 39px; }
    .wrapper-steps .jcarousel-wrapper2 {
      width: 236px;
      margin-left: -75px; }
      .wrapper-steps .jcarousel-wrapper2 .jcarousel-control-prev {
        left: 11px;
        top: 39px; }
      .wrapper-steps .jcarousel-wrapper2 .jcarousel-control-next {
        right: 13px;
        top: 39px; }
    .wrapper-steps .jcarousel-wrapper3 {
      width: 236px;
      margin-left: -139px; }
      .wrapper-steps .jcarousel-wrapper3 .jcarousel-control-prev {
        left: 20px;
        top: 39px; }
      .wrapper-steps .jcarousel-wrapper3 .jcarousel-control-next {
        right: 22px;
        top: 39px; }
  .wrapper-partner {
    width: 742px;
    height: 726px; }
    .wrapper-partner .chapter-name {
      margin-left: -1px; }
    .wrapper-partner .partners {
      height: 492px;
      width: 500px;
      margin: 0 auto; }
      .wrapper-partner .partners .section1 {
        margin-left: 30px;
        margin-bottom: 55px;
        margin-right: 12px; }
        .wrapper-partner .partners .section1 p {
          line-height: 18px; }
      .wrapper-partner .partners .section2 p {
        margin-left: 0px; }
      .wrapper-partner .partners .section3 {
        float: none;
        margin-left: 13px;
        height: 200px;
        margin-bottom: 50px; }
        .wrapper-partner .partners .section3 .partner3 {
          margin-bottom: 15px; }
        .wrapper-partner .partners .section3 h4 {
          margin-bottom: 12px; }
      .wrapper-partner .partners .section4 .partner3 {
        margin-bottom: 15px; }
      .wrapper-partner .partners .section4 h4 {
        margin-left: 39px;
        margin-bottom: 12px; }
  .wrapper-ideas {
    clear: both; }
    .wrapper-ideas .mobile-ideas {
      display: none; }
    .wrapper-ideas .chapter-name {
      margin-left: 6px; }
    .wrapper-ideas .grid-sizer,
    .wrapper-ideas .grid-item {
      width: 49%; }
    .wrapper-ideas .idea {
      margin-left: 14px;
      margin-right: 7px;
      width: 235px; }
    .wrapper-ideas .idea1_desc {
      left: 30px;
      top: 202px;
      letter-spacing: 1px;
      text-align: center;
      font-size: 20px; }
    .wrapper-ideas .idea2 {
      margin-right: 5px; }
    .wrapper-ideas .idea2_desc {
      left: 320px;
      top: 190px;
      width: 137px;
      letter-spacing: 1px;
      text-align: center;
      font-size: 20px;
      line-height: 26px; }
    .wrapper-ideas .idea3 {
      margin-right: 8px;
      background-position-x: -704px; }
    .wrapper-ideas .idea3_desc {
      left: 549px;
      top: 187px;
      letter-spacing: 1px;
      text-align: center;
      font-size: 20px;
      line-height: 26px; }
    .wrapper-ideas .idea4_desc {
      left: 94px;
      top: 533px;
      letter-spacing: 1px;
      text-align: center;
      font-size: 21px;
      line-height: 26px; }
    .wrapper-ideas .idea5 {
      margin-right: 0px;
      width: 492px;
      background-position-x: -391px; }
    .wrapper-ideas .idea5_desc {
      left: 391px;
      top: 533px;
      letter-spacing: 0.6px;
      text-align: center;
      font-size: 21px;
      line-height: 26px; }
    .wrapper-ideas .idea6 {
      margin-right: 5px;
      margin-left: 13px;
      width: 493px;
      background-position-x: -60px; }
    .wrapper-ideas .idea6_desc {
      left: 199px;
      top: 863px;
      letter-spacing: 0.6px;
      text-align: center;
      font-size: 21px;
      line-height: 26px; }
    .wrapper-ideas .idea7 {
      margin-right: 0px;
      background-position-x: -670px; }
    .wrapper-ideas .idea7_desc {
      left: 589px;
      top: 861px;
      letter-spacing: .6px;
      text-align: center;
      font-size: 21px;
      line-height: 26px; }
  .wrapper-find .chapter-name {
    margin-left: 3px;
    margin-bottom: 29px; }
  .wrapper-find p {
    margin-left: 2px;
    margin-bottom: 36px; }
  .wrapper-find .form_find {
    margin-left: 0px;
    text-indent: 16px; }
  footer .wrapper-footer .name {
    width: 227px;
    margin-top: 40px;
    margin-left: 41px; }
  footer .wrapper-footer .bottom_menu {
    margin-right: 104px;
    margin-top: 34px; }
    footer .wrapper-footer .bottom_menu .bold {
      margin-bottom: 6px; }
    footer .wrapper-footer .bottom_menu li a {
      line-height: 24px; }
  footer .wrapper-footer .partners_bot {
    margin-top: 38px;
    margin-right: 82px; }
  footer .wrapper-footer .designed {
    margin-top: 39px; }
    footer .wrapper-footer .designed p {
      width: 83px;
      letter-spacing: .8px;
      margin-left: 70px;
      margin-bottom: 7px; } }
