@media only screen and (min-width: 320px) and (max-width: 479px) {
  html, body {
  overflow-x: hidden;
}
  html {
    height: 410%;
  }
  body {
    position: relative
  }

  header, .wrapper1, main, .center, .logos, .bottom, footer {
    width: 95%;
    height: 100%;
  }

  header {
    position: relative;
    max-height: 208px;
    height: 299px;
  }

  .header-wrapper {
    max-height: 521px;
  }

  .header__logo {
    position: absolute;
    top: -8%;
    left: 31%;
  }

  .overlay-wrapper {
    max-height: 292px;
    width: 100%;
    min-width: 320px;
    position: relative;
    background-image: none;
  }

  /*Dropdown menu*/
  header {
    position: relative;
  }
  header .menu {
    /*Align block center*/
    position: absolute;
    top: 73%;
    left: 16%;
    width: 245px;
    height: 229px;
    z-index: 100;
    text-align: center;
    background: rgb(43, 34, 49);
    border-radius: 10px;
    border: 1px solid #0f1a20;
    visibility: hidden;
    overflow: hidden;
    margin-top: 0;
  }
  header .menu:hover {
    visibility: visible;
  }

  header .menu__item {
    display: block;
    border-top: 1px solid #523e5a;
    border-bottom: 1px solid #36283e;
    padding-right: 0;
    overflow: hidden;
  }

  .menu__link {
    border-bottom: 2px solid transparent; /*MENU DOEN'T JUMP WHILE HOVER*/
    font-size: 23px;
  }

  header .menu__link:hover {
    background: rgb(43, 34, 49);
    border-bottom: 2px solid #edbfff;
  }

  .menu__link-visible {
    visibility: visible;
    font-size: 23px;
  }

  .wrapper1 {
    position: relative;
    max-width: 320px;
    margin: 0 auto;
  }

  .overlay-text {
    position: absolute;
    top: -43%;
    left: 21%;
    width: 192px;
    max-height: 75px;
    overflow: hidden;
    z-index: 2;
  }

  .overlay-text p:first-child {
    margin: 0 0 -10px 0;
    font-size: 36px;
  }

  .third {
    display: none;
  }

  .second {
    font-size: 20px;
    max-height: 28px;
  }

  .arrow_left {
    left: -8px;
    top: -156px;
  }

  .arrow_right {
    left: 291px;
    top: -156px;
  }

  .phone {
    display: none;
  }

  .main-wrapper {
    height: 598px;
    z-index: 2;
    margin-top: -420px;
  }
  .dial, .music {
    display: none;
  }

  .key {
    width: 95%;
    position: absolute;
    left: 10%;
    top: 0;
  }

  .key__hidden {
    display: block;
    position: absolute;
    top: 27%;
    left: 10%;
  }

  .key__hidden__bottom {
    top: 56%;
  }

  .key h2 {
    font-size: 24px;
    margin-bottom: 0px;
  }

  .key p {
    font-size: 15px;
    margin-left: 20px;
    max-width: 208px;
    max-height: 78px;
    overflow: hidden;
  }

  .key a {
    display: block;
    margin-left: 205px;
  }

  .center {
    position: relative;
  }

  .center-wrapper {
    height: 720px;
  }

  .center__white {
    max-width: 80%;
    min-height: 210px;
    overflow: hidden;
  }

  .center__white h2 {
    font-size: 24px;
    width: 97px;
  }

  .center__left {
    width: 92%;
    max-height: 270px;
    margin: 64px 0 0 19px;
    background-image: none;
    background-color: white;
  }

  .center__right {
    width: 92%;
    max-width: 320px;
    overflow: hidden;
    position: absolute;
    top: 38%;
    left: 5%;
  }

  article {
    width: 368px;
  }

  .article h5 {
    width: 160px;
    max-height: 20px;
    overflow: hidden;
  }

  .article p {
    width: 220px;
    max-height: 20px;
    overflow: hidden;
  }

  .logos {
    max-width: 244px;
    overflow: hidden;
    margin-top: 52px;
  }

  .logos-wrapper {
    height: 420px;
  }

  .logos__mobile {
    display: inline-block;
    margin: 54px 0 0 260px;
  }
  .logos__mobile1 {
    display: inline-block;
    margin: 36px 0 0 -513px;
  }

  .logo__bottom {
    margin-right: 20px;
  }

  .logo1 {
    margin-right: 48px;
    margin-left: 21px;
  }

  .logo2 {
    margin-right: 0;
  }

  .logo3 {
    margin: 56px 56px 0 27px;
  }

  .logo5 {
    margin: 37px 34px 0 3px;
  }

  .logo6 {
    margin-right: 0;
  }

  .bottom-wrapper {
    display: none;
  }

  .slider_top {
    /*position: absolute;
    top: -70px;
    left: 22%;*/
  }

  .slider_bottom {
    margin: 20px 13%;
  }

  .footer-wrapper {
    height: 200px;
  }

  .footer__menu {
    display: none;
  }

  .footer__design {
    height: 32px;
    width: 154px;
    font-size: 12px;
    margin: 0 25%;
  }
  .readmore a {
    display: none;
  }
  .blog a {
    display: block;
    margin: 10px 10px 0 40px;
    color: red;
  }

}
