/*MEDIA 768PX*/
@media (max-width: 959px) and (min-width: 768px)  {
  header, .wrapper1, main, .center, .logos, .bottom, footer {
    width: 95%;
    max-width: 768px;
  }

  .header__logo {
    margin-right: 100px;
  }

  header .menu {
    float: left;
    min-width: 600px;
    margin-top: 20px;
  }

  .overlay-wrapper {
    min-width: 768px;
    width: 100%;
    height: 400px;
    position: relative;

  }
  .wrapper1 {
    max-width: 90%;
    margin: 0 auto;
    position: relative;
  }

  .div1 {
    width: 90%;
    height: 100%;
    margin: 0 auto;
  }

  .arrow_left {
  left: -41px;
  top: 180px;
 }

  .phone {
    top: -8%;
    left: 59%;
    position: absolute;
  }
  .arrow_right {
    left: 102%;
    top: 11.3rem;
  }

  form {
    display: block;
    height: 1.25rem;
    width:  11rem;
    position: absolute;
    top: 2.4rem;
    left: 29.8rem;
  }

  .overlay-text {
    width: 53%;
    top: 23%;
    left: 2%;
  }

  .overlay-text p:first-child{
    font-size: 48px;
  }


  .overlay-text .second {
    max-height: 32px;
    max-width: 370px;
    overflow: hidden;
  }

  .overlay-text .third{
    max-height: 96px;
    max-width: 310px;
    overflow: hidden;
  }

  .slider_top {
  margin: 30px 0 0 530px;
  }
  .dial, .music {
    display: none;
  }

  .key__hidden {
    display: inline-block;
  }


  .header-wrapper {
    height: 51.1rem;
  }

  main h2 {
    font-size: 23px;
  }

  .key {
    width: 30%;
  }

  .key p {
    max-height: 150px;
    overflow: hidden;
  }

  .key a {
    margin-left: 160px;
  }

  .center__left {
    width: 44%;
    height: 17.5rem;
  }
  .center__white {
    max-width: 260px;
    max-height: 195px;
    overflow: hidden;
  }

  .center__white h2 {
    font-size: 25px;
    width: 100px;
    margin-bottom: 10px;
  }

  .center__right {
    float: right;
    width: 44%;
    margin: 119px 8px 0 0;
    max-width: 376px;
  }


  .article {
    overflow: hidden;
    height: 45px;
    max-width: 270px;
  }

  .article h5 {
    max-height: 25px;
    overflow: hidden;
  }

  .article p {
    overflow: hidden;
    max-width: 260px;
  }

  .slider_bottom {
  margin: 80px 15%;
  }

  .logos-wrapper {
    height: 115px;
  }

  .logos {
    width: 729px;
    margin: 23px auto;
  }

  .logo__bottom {
    margin-right: 48px;
  }

  .logo3 {
    margin-right: 56px;
  }

  .logo4 {
    margin-right: 49px;
  }

  .logo5 {
    margin-right: 40px;
  }

  .logo6 {
    margin-right: 0;
  }

  .bottom-wrapper {
      height: 395px;
    }
  .bottom__left {
    display: none;
  }
  .bottom__center {
    display: none;
  }

  .bottom__right {
    float: left;
    width: 30%;
    max-width: 226px;
    max-height: 180px;
    overflow: hidden;
    margin-left: 7px;
    margin-right: 15px;

  }
  .bottom__right h2 {
    font-size: 24px;
  }

  .hidden {
    float: left;
    display: inline-block;
  }

  .logos img {
    max-width: 715px;
  }

  .footer-wrapper {
    height: 150px;
  }

  .menu__link {
    font-size: 25px;

  }

  .footer-wrapper {
    height: 200px;
  }

  .footer__design {
    max-width: 164px;
    max-height: 16px;
    margin: -62px 64px 0 0;
    font-size: 12px;
  }

  .logos__mobile, .logos__mobile1  {
    display: none;
  }

  .readmore {
    display: none;
  }

  .blog {
    visibility: visible;
    display: block;
    margin: 130px 0 0 120px;
  }
}
